/* Container Styling */
.invoice-container {
    width: 200mm; 
    height: 297mm;
    border: 0.3mm solid #cd7e7e; 
    padding: 9mm; 
    background-color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0mm 67mm 3mm rgba(22, 17, 17, 0.15); 
    overflow: hidden; /* Ensure circles do not affect the overall layout */
    position: relative; /* To position the circles within the container */
}


/* Title */

/* Logo */
.invoice-logo {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    
}

.Invoice-circle {
    position: absolute;
    background-color: #FDA701;
    border-radius: 60%;
    overflow: hidden;
    display: flex; /* Center the title */
    justify-content: center;
    align-items: center;
}

.Invoice-circle:last-child {
    width: 940px;
    height: 500px;
    top: -290px;
    left: -140px;
    transform: rotateY(12deg);
    z-index: 1;
}

.Invoice-circle:last-child::after {
    content: ''; /* Required for pseudo-element to render */
    width: 900px;
    height: 620px;
    position: absolute;
    top:  -170px; /* Adjust so the second circle is below the first */
    left: -10px;
    transform: rotateZ(-195deg);
    background-color: #141a42; /* Red color for the second circle */
    border-radius: 60%; /* Keep it circular */
    z-index: 1; /* Ensure it's behind the first circle */
}



.invoice-title {
    font-size: 80px;
    font-weight: bold;
    color: rgb(240, 238, 238);
    position: relative; /* Ensures it moves with the parent circle */
    z-index: 10; /* Brings the title above other elements */
    text-align: center; /* Aligns text within the circle */
    margin-right: 500px;
    margin-top: -6px;
}


/* Details Section */
.invoice-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    background-color: #f8f8f8;
    border-radius: 8mm;
}

/* Seller and Client Info */
.seller-info, .client-info {
    flex: 1;
    padding: 10px;
    font-size: 14px;
}

/* Invoice Items Table */
.invoice-items .invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-table th, .invoice-table td {
    border: 1px solid #dab42b;
    padding: 8px;
    text-align: left;
}

.invoice-table th {
    background-color: #FDA701;
    color: white;
}

/* Total Section */
.total-section {
    text-align: right;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #FDA701;
    background-color: #ebebeb;
}

/* Amount in Words */
.amount-in-words {
    margin-top: 10px;
    margin-left: 350px;
    font-weight: bold;
}

/* Footer */
.invoice-footer {
    text-align: left;
    padding: 10px;
    font-size: 12px;
    color: #000000;
}